
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Flight Price</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="../static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="../static/css/superfish.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="../static/css/magnific-popup.css">
	<!-- Date Picker -->
	<link rel="stylesheet" href="../static/css/bootstrap-datepicker.min.css">
	<!-- CS Select -->
	<link rel="stylesheet" href="../static/css/cs-select.css">
	<link rel="stylesheet" href="../static/css/cs-skin-border.css">
	
	<link rel="stylesheet" href="../static/css/style.css">


	<!-- Modernizr JS -->
	<script src="../static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">

		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="./index.html"><i class="icon-airplane"></i>Travel</a></h1>
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li class="active"><a href="./index.html">Home</a></li>
							<!-- <li>
								<a href="vacation.html" class="fh5co-sub-ddown">Vacations</a>
								<ul class="fh5co-sub-menu">
									<li><a href="#">Family</a></li>
									<li><a href="#">CSS3 &amp; HTML5</a></li>
									<li><a href="#">Angular JS</a></li>
									<li><a href="#">Node JS</a></li>
									<li><a href="#">Django &amp; Python</a></li>
								</ul>
							</li>
							<li><a href="flight.html">Flights</a></li>
							<li><a href="hotel.html">Hotel</a></li>
							<li><a href="car.html">Car</a></li>
							<li><a href="blog.html">Blog</a></li> -->
							<li><a href="#">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		<!-- end:header-top -->
		<form action="\predict" method="post">
	
		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(images/cover_bg_1.jpg);">
				<div class="desc">
					<div class="container">
						<div class="row">
							<div class="col-sm-5 col-md-5">
								<div class="tabulation animate-box">

								  <!-- Nav tabs -->
								   <ul class="nav nav-tabs" role="tablist">
								      <li role="presentation" class="active">
								      	<a href="#flights" aria-controls="flights" role="tab" data-toggle="tab">Flights</a>
								      </li>
								      <!-- <li role="presentation">
								    	   <a href="#hotels" aria-controls="hotels" role="tab" data-toggle="tab">Hotels</a>
								      </li>
								      <li role="presentation">
								    	   <a href="#packages" aria-controls="packages" role="tab" data-toggle="tab">Packages</a>
								      </li> -->
								   </ul>

								   <!-- Tab panes -->
									<div class="tab-content">
									 <div role="tabpanel" class="tab-pane active" id="flights">
										<div class="row">
											<div class="col-xxs-12 col-xs-6 mt">
												<div class="input-field">
													<label for="from">From:</label><br/>
													<!-- <input type="text" class="form-control" id="from-place" placeholder="Los Angeles, USA"/> -->
													<select name="Source" class="cs-select cs-skin-border">
														<option value="Delhi">Delhi</option>
														<option value="Kolkata">Kolkata</option>
														<option value="Mumbai">Mumbai</option>
														<option value="Chennai">Chennai</option>
													</select>
												</div>
											</div>
											<div class="col-xxs-12 col-xs-6 mt">
												<div class="input-field">
													<label for="from">To:</label><br/>
													<!-- <input type="text" class="form-control" id="to-place" placeholder="Tokyo, Japan"/> -->
													<select name="Destination" class="cs-select cs-skin-border">
														<option value="" disabled selected>Kolkata</option>
														<option value="Cochin">Cochin</option>
														<option value="Delhi">Delhi</option>
														<option value="New Delhi">New Delhi</option>
														<option value="Hyderabad">Hyderabad</option>
														<option value="Kolkata">Kolkata</option>
													</select>
												</div>
											</div>
											<div class="col-xxs-12 col-xs-6 mt alternate">
												<div class="input-field">
													<label for="date-start">Departure</label>
													<!-- <input type="text" class="form-control" id="date-start" placeholder="mm/dd/yyyy"/> -->
													<input type="datetime-local" name="Dep_Time" class="form-control" id="Dep_Time" required="required">
												</div>
											</div>
											<div class="col-xxs-12 col-xs-6 mt alternate">
												<div class="input-field">
													<label for="date-end">Arrival</label>
													<!-- <input type="text" class="form-control" id="date-end" placeholder="mm/dd/yyyy"/> -->
													<input type="datetime-local" name="Arrival_Time" class="form-control" id="Arrival_Time" required="required">

												</div>
											</div>
											<div class="col-sm-12 mt">
												<section>
													<label for="class">Which Airline you want to travel?</label>
													<select name="airline" class="cs-select cs-skin-border">
														<option value="" disabled selected>IndiGo</option>
														<option value="Jet Airways">Jet Airways</option>
														<option value="IndiGo">IndiGo</option>
														<option value="Air India">Air India</option>
														<option value="Multiple carriers">Multiple carriers</option>
														<option value="SpiceJet">SpiceJet</option>
														<option value="Vistara">Vistara</option>
														<option value="Air Asia">Air Asia</option>
														<option value="GoAir">GoAir</option>
														<option value="Multiple carriers Premium economy">Multiple carriers Premium economy
														</option>
														<option value="Jet Airways Business">Jet Airways Business</option>
														<option value="Vistara Premium economy">Vistara Premium economy</option>
														<option value="Trujet">Trujet</option>
													</select>
												</section>
											</div>
											<div class="col-xxs-12 col-xs-6 mt">
												<section>
													<label for="class">Stopage</label>
													<select name="stops" class="cs-select cs-skin-border">
														<option value="" disabled selected>Non-Stop</option>
														<option value="0">Non-Stop</option>
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
													</select>
												</section>
											</div>
											<!-- <div class="col-xxs-12 col-xs-6 mt">
												<section>
													<label for="class">Children:</label>
													<select class="cs-select cs-skin-border">
														<option value="" disabled selected>1</option>
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
													</select>
												</section>
											</div> -->
											 <div class="col-xs-12">
												<input type="submit" class="btn btn-primary btn-block" value="Submit">
											</div>
										</div>
									 </div>
									 <div class="desc2 animate-box">
										<div class="col-sm-7 col-sm-push-1 col-md-7 col-md-push-1" style="position: absolute; align-self: start; margin-left: 600px; margin-top: -320px; width: 500px;">
											<!-- <p>HandCrafted by <a href="http://frehtml5.co/" target="_blank" class="fh5co-site-name">FreeHTML5.co</a></p> --> 
											<h2>Expected Price</h2>
											<!-- <h3>Fly to Hong Kong via Los Angeles, USA</h3> -->
											<!-- <span class="price">$599</span> -->
											<h3>{{ prediction_text }}</h3>
											<!-- <p><a class="btn btn-primary btn-lg" href="#">Get Started</a></p> -->
										</div>
									</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

	</div>
	<!-- jQuery -->


	<script src="../static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="../static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="../static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="../static/js/jquery.waypoints.min.js"></script>
	<script src="../static/js/sticky.js"></script>

	<!-- Stellar -->
	<script src="../static/js/jquery.stellar.min.js"></script>
	<!-- Superfish -->
	<script src="../static/js/hoverIntent.js"></script>
	<script src="../static/js/superfish.js"></script>
	<!-- Magnific Popup -->
	<script src="../static/js/jquery.magnific-popup.min.js"></script>
	<script src="../static/js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="../static/js/bootstrap-datepicker.min.js"></script>
	<!-- CS Select -->
	<script src="../static/js/classie.js"></script>
	<script src="../static/js/selectFx.js"></script>
	
	<!-- Main JS -->
	<script src="../static/js/main.js"></script>

	</body>
</html>

